.main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  max-width: var(--post-max-width);
}

.item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: var(--fluid-type);
}

.item > p,
.item > a {
  text-align: left;
  /* @include h1(); */
  margin: 0;
  padding: 0;
  width: auto;
  font-weight: bold;
}

.item > p {
  color: #003459;
}

.maxWidth {
  max-width: var(--post-max-width);
  width: -webkit-fill-available;
  margin: 0 auto;
  padding: var(--padding) 0;
}

@media screen and (max-width: 850px) {
  .maxWidth {
    padding: var(--padding) var(--padding);
  }
}

.wrapper {
  background-color: var(--color-turquise);
  width: -webkit-fill-available;
}
