name: E2E Cypress testing
on:
  push:
    branches:
      - main
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    container: cypress/browsers:node12.13.0-chrome78-ff70 
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          headless: true
          env: host=https://alanionita.github.io
          
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: fails
          path: cypress/    