name: E2E Cypress testing
on:
  push:
    branches:
      - main
jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          headless: true
          config: pageLoadTimeout=100000,baseUrl=http://localhost:3000
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-snapshots
          path: cypress/snapshots    